{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th align="left">Name</th>
      <th align="left">Admin?</th>
    </tr>
    {% for user in users %}
    <tr>
      <td><a href="/users/{{user.id}}/">{{ user.name }}</a></td>
      <td align="center">{{ user.admin }}</td>
      {% if current_user.id != user.id %}
      <td>
        <form method="POST" action="{{ url_for('users_toggle_admin', user_id=user.id) }}">
          <input class="btn btn-outline-primary btn-sm" type="submit" value="Toggle admin rights" />
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('users_delete', user_id=user.id) }}">
          <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete user" />
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
