{% extends "layout.html" %}

{% block body %}
  <table style="border-collapse: separate;border-spacing: 9px">
    <tr>
      <th align="left">Message</th>
      <th align="left">Delete?</th>
    </tr>
    {% for message in messages %}
    <tr>
      <td><a href="/messages/{{message.id}}/">{{ message.content }}</a></td>
      <td>
        <form method="POST" action="{{ url_for('messages_delete', message_id=message.id) }}">
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
