{% extends "layout.html" %}

{% block body %}
  <table style="width:75%;border-collapse: separate;border-spacing: 9px">
    <tr>
      <th align="left">Message</th>
      <th align="left">Delete?</th>
    </tr>
    {% for message in messages.items %}
    <tr>
      <td><a href="/messages/{{message.id}}/">{{ message.content }}</a></td>
      <td>
        <form method="POST" action="{{ url_for('messages_delete', message_id=message.id) }}">
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

<div>
  {% for page in messages.iter_pages() %}
    {% if page != messages.page %}
      <a href="{{ url_for('messages_paginated', page=page) }}">{{ page }}</a>
    {% else %}
      {{ page }}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
