{% extends "layout.html" %}

{% block body %}

<a href="/topics/{{ topic.id }}/">< Return to "{{ topic.title }}"</a>
<hr>
<small><a href="{{ url_for('users_get_one', user_id=message.account_id) }}"> {{ message.author }}</a> @ {{ message.date_created.strftime('%d.%m.%Y %-H:%M')}} </small>
      
<div style="white-space: pre-line;width:60%">{{ message.content }}</div>

{% if message.account_id == current_user.id %}
  <a href="/messages/{{ message.id }}/edit" class="btn btn-outline-primary btn-sm" role="button">Edit</a>
{% endif%}


{% if current_user.admin %}
  <form method="POST" action="{{ url_for('messages_delete_from_topic', topic_id=topic.id, message_id=message.id) }}">
    <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete" />
  </form>
{% endif %}

<div>
  <small>Read by:
  {% for view in message.views %}
    {% if view.id != message.account_id %} 
      <a href="/users/{{ view.id }}/">{{ view.name }}&nbsp;&nbsp;</a>
    {% endif %}
  {% endfor %}
  </small>
</div>

<hr>

<div class="container">
{% for reply in replies %}
  <small>Reply by <a href="{{ url_for('users_get_one', user_id=reply.account_id) }}"> {{ reply.author }}</a> @ {{ reply.date_created.strftime('%d.%m.%Y %-H:%M')}}</small>
      
  <p style="width:60%">{{ reply.content }}</p>

  <div><small>
    Replies:
    {% for further_reply in further_replies %}
    {% if further_reply.reply_id == reply.id %}
    <div style="padding-left: 0.5em">
      <a href="/topics/{{ topic.id }}/messages/{{ further_reply.id }}/">{{ further_reply.content|truncate(96) }}</a>
    </div>
    {% endif %}
    {% endfor %}
  </small></div>

  <br />
  
  <small>
    <a href="/topics/{{ topic.id }}/messages/{{ reply.id }}/">View all replies or answer</a>
  </small>

  {% if reply.account_id == current_user.id %}
  <a href="/messages/{{ reply.id }}/edit" class="btn btn-outline-primary btn-sm" role="button">Edit your reply</a>
  {% endif%}

  {% if current_user.admin %}
  <form method="POST" action="{{ url_for('messages_delete_from_topic', topic_id=topic.id, message_id=reply.id) }}">
    <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete" />
  </form>
  {% endif %}

  <div>
    <small>Read by:
    {% for view in reply.views %}
      {% if view.id != reply.account_id %} 
        <a href="/users/{{ view.id }}/">{{ view.name }}&nbsp;&nbsp;</a>
      {% endif %}
    {% endfor %}
    </small>
  </div>
  <hr>
{% endfor %}
</div>

<ul>
  {% for error in form.name.errors %}
    <li style="color: red">{{ error }}</li>
  {% endfor %}
</ul>

<form method="POST" action="/topics/{{ topic.id }}/messages/{{ message.id }}/reply">
  Reply to message:<br />
  {{ form.name(cols="70", rows="9") }}<br />
  <input type="submit" class="btn btn-outline-primary" value="Reply" />
</form>
{% endblock %}
