{% extends "layout.html" %}

{% block body %}

<a href="/topics/{{ topic.id }}/">< Return to "{{ topic.title }}"</a><hr>

<small>Message by {{ message.author }} @ {{ message.date_created.strftime('%d.%m.%Y %-H:%M')}} </small>
      
<div style="white-space: pre-line;">{{ message.content }}</div>

{% if message.account_id == current_user.id %}
  <a href="/messages/{{ message.id }}/edit" class="btn btn-outline-primary btn-sm" role="button">Edit</a>
{% endif%}
<div>
  <small>Read by:
  {% for view in message.views %}
    {% if view.id != message.account_id %} 
      <a href="/users/{{ view.id }}/">{{ view.name }}&nbsp;&nbsp;</a>
    {% endif %}
  {% endfor %}
  </small>
</div>

<hr>

{% for reply in replies %}
  <small>Reply by {{ reply.author }} @ {{ reply.date_created.strftime('%d.%m.%Y %-H:%M')}}</small>
      
  <div style="white-space: pre-line;">{{ reply.content }}</div>

  <a href="/topics/{{ topic.id }}/messages/{{ reply.id }}/" class="btn btn-outline-primary btn-sm" role="button">Reply</a>

  <small>
    <a href="/topics/{{ topic.id }}/messages/{{ reply.id }}/">See replies.</a>
  </small>

  {% if reply.account_id == current_user.id %}
  <a href="/messages/{{ reply.id }}/edit" class="btn btn-outline-primary btn-sm" role="button">Edit</a>
  {% endif%}
  <div>
    <small>Read by:
    {% for view in reply.views %}
      {% if view.id != reply.account_id %} 
        <a href="/users/{{ view.id }}/">{{ view.name }}&nbsp;&nbsp;</a>
      {% endif %}
    {% endfor %}
    </small>
  </div>

  <hr>

{% endfor %}

<form method="POST" action="/topics/{{ topic.id }}/messages/{{ message.id }}/reply">
  Reply to message:<br />
  {{ form.name(cols="70", rows="9") }}<br />
  <ul>
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <input type="submit" class="btn btn-outline-primary" value="Reply" />
</form>

{% endblock %}