{% extends "layout.html" %}

{% block body %}
<h2>Welcome to the Forum!</h2>
<strong>All topics for discussion:</strong>
<div>
  <small>
    <a href="{{ url_for('topics_index') }}"">[Show newest]</a>
    <a href="{{ url_for('topics_popular') }}">[Show most popular]</a>
    <a href="{{ url_for('topics_all') }}">[Show all]</a>
    For test purposes -->
    <a href="{{ url_for('topics_popular_sql') }}">[Show latest (for local SQLite only!)]</a>
  </small>
</div>
<hr>
{% for topic in topics %}
<div>
  <a href="/topics/{{topic.id}}/">{{ topic.title }}</a><br /><small>Topic started on {{ topic.date_created.strftime('%d.%m.%Y %-H:%M') }}</small>

  {% if current_user.admin %}
  <div class="container">  
    <div class="row">
      <form method="GET" action="{{ url_for('topics_get_for_edit', topic_id=topic.id) }}">
        <input class="btn btn-outline-primary btn-sm" type="submit" value="Edit title" />
      </form>
      <form method="POST" action="{{ url_for('topics_delete', topic_id=topic.id) }}">
        <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete topic" />
      </form>
    </div>
  </div>
  {% endif %}
</div>
<br />
{% endfor %}
{% endblock %}
