{% extends "layout.html" %}

{% block body %}
  <h2>Welcome to the Forum!</h2>
  <table>
    <tr>
      <th align="left">Topics for discussion</th>
    </tr>
    {% for topic in topics %}
    <tr>
      <td><a href="/topics/{{topic.id}}/">{{ topic.title }}</a><br /><small>Sent by: {{ topic.creator }} @ {{ topic.date_created.strftime('%d.%m.%Y %-H:%M') }}</small></td>
      <td>
        <form method="POST" action="{{ url_for('topics_delete', topic_id=topic.id) }}">
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
