{% extends "layout.html" %}

{% block body %}
  <h2>Welcome to the Forum!</h2>
  <strong>These are the five latest topics being discussed: </strong>

  <small>
    <a href="{{ url_for('topics_all') }}">[Show all]</a>
    <a href="{{ url_for('topics_popular') }}">[Show most popular]</a>
  </small>

  <table style="border-collapse: separate;border-spacing: 4px;">
    {% for item in topics %}
    <tr>
      <td>
        <a href="/topics/{{item.topic_id}}/">{{ item.topic_title }}</a><br />
      </td>
      {% if current_user.admin %}
      <td>
        <form method="POST" action="{{ url_for('topics_delete', topic_id=item.topic_id) }}">
          <input type="submit" value="Delete" />
        </form>
      </td>
      {% endif %}
    </tr>
      <td>
        <small>
          Newest message: <a href="/messages/{{item.msg_id}}/">{{ item.msg_content }}
        </small>
      <td>
        <small>{{ item.msg_created }}</small>
      </td>
    </td>
    {% endfor %}
  </table>
{% endblock %}
