{% extends "layout.html" %}

{% block body %}

<h2>{{ topic.title }}</h2>
<small><i>Discussion started by {{ topic.creator }} on {{ topic.date_created.strftime('%d.%m.%Y %-H:%M')}}.</i></small>

<br /><br />

<h3>Messages:</h3>
<table>
  {% if messages %}
    {% for message in messages %}
    <tr>
      <td><a href="/messages/{{message.id}}/">{{ message.content }}</a><br />Sent by: {{ message.author }} @ {{ message.date_created }}
      </td>
    </tr>
    {% endfor %}
  {% else %}
  <tr>
    <td>No messages yet in this topic. Please feel free to start the discussion!</td>
  </tr>
  {% endif %}
</table>

<br />

<form method="POST" action="/topics/{{topic.id}}/messages/new">
  {{ form.name.label}}<br />
  {{ form.name(cols="60", rows="6") }}<br />
  <ul>
    {% for error in form.name.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <input type="submit" value="Add a reply to topic" />
</form>

{% endblock %}