{% extends "layout.html" %}

{% block body %}

<h2>{{ topic.title }}</h2>
<small><i>
  Topic started by {{ topic.creator }} on {{ topic.date_created.strftime('%d.%m.%Y')}}.</i></small>

<hr>

<div style="width:60%">
  {% if messages.items %}
    {% for message in messages.items %}
    <div>
      <div>
        <small><a href="{{ url_for('users_get_one', user_id=message.account_id) }}"> {{ message.author }}</a> @ {{ message.date_created.strftime('%d.%m.%Y %-H:%M')}} &nbsp;--&nbsp; message {{ loop.index }}/{{ loop.length }}</small>
      
        <p style="white-space: pre-line;">{{ message.content }}</p>

        <small>
          <a href="/topics/{{ topic.id }}/messages/{{ message.id }}/">See replies or write a reply</a>
        </small>

        {% if message.account_id == current_user.id %}
        <a href="/messages/{{ message.id }}/edit" class="btn btn-outline-primary btn-sm" role="button">Edit</a>
        {% endif%}
        <div><small>
          Read by:
          {% for view in message.views %}
            {% if view.id != message.account_id %} 
              <a href="/users/{{ view.id }}/">{{ view.name }}&nbsp;&nbsp;</a>
            {% endif %}
          {% endfor %}
        </small></div>
        <hr>      
      </div>
    </div>
    {% endfor %}
  {% else %}
  <div>
    <p><i>No messages yet in this topic. Please feel free to start the discussion!</i></p>
  </div>
  {% endif %}
</div>

<div>
  {% for page in messages.iter_pages() %}
    {% if page != messages.page %}
      <a href="{{ url_for('topics_get_one_paginated', topic_id=topic.id, page=page) }}">
      {{ page }}</a>
    {% else %}
      {{ page }}
    {% endif %}
  {% endfor %}
</div>

<br />

<form method="POST" action="/topics/{{ topic.id }}/messages/new">
  Add a new message to the topic:<br />
  {{ form.name(cols="70", rows="9") }}<br />
  <ul>
    {% for error in form.name.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <input type="submit" class="btn btn-outline-primary" value="Add message" />
</form>

{% endblock %}